[Desktop Entry]
Exec=/home/renata/Scripts/mon-pihole.sh
Icon=application-x-shellscript
Name=mon-pihole.sh
Type=Application
X-KDE-AutostartScript=true
